# Loading Data

In [1]:
import pathlib

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import cellpy
from cellpy import cellreader
from cellpy.utils import plotutils

C:\Users\juliaw\AppData\Local\Temp\ipykernel_9228\435093794.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
c:\Users\juliaw\Miniconda3\envs\cellpy\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Set the paths and filename(s).
You can either load a single file ``filename``, or add a list of filenames ``filenamelist`` (if several files belong to the same experiment):

In [2]:
filedir=pathlib.Path("data") # foldername within the same directory

# single filename
filename = "20210210_FC_01_cc_01.res"
# list of files (continuations within same experiment)
filenamelist=[
    "20210210_FC_01_cc_01.res",
    "20210210_FC_01_cc_02.res",
    "20210210_FC_01_cc_03.res",
    "20210210_FC_01_cc_04.res"
]

filepaths = [filedir / file for file in filenamelist]

Use `cellpy.get()` to load the rawdatafile(s):

In [3]:
c=cellpy.get(filepaths)

Now you have created your **CellpyCell** object and can start to explore it further. The ``cellpy.get()`` function conveniently created a so-called *step-table* and a *summary* for you (both are pandas dataframes):

In [4]:
c.data.summary.head(5)

,data_point,test_time,date_time,end_voltage_charge,end_voltage_discharge,charge_capacity,discharge_capacity,coulombic_efficiency,cumulated_coulombic_efficiency,cumulated_charge_capacity,...,cumulated_charge_capacity_areal,cumulated_discharge_capacity_areal,coulombic_difference_areal,cumulated_coulombic_difference_areal,discharge_capacity_loss_areal,charge_capacity_loss_areal,cumulated_discharge_capacity_loss_areal,cumulated_charge_capacity_loss_areal,shifted_charge_capacity_areal,shifted_discharge_capacity_areal
cycle_index,,,,,,,,,,,,,,,,,,,,,
1,5797,1.743286e+05,2021-05-12 10:40:11.000000,4.200052,3.129170,0.003819,0.003324,114.877209,114.877209,0.003819,...,3.818560,3.324036,-0.494524,-0.494524,NaN,NaN,NaN,NaN,-0.494524,2.829512
2,7188,3.171618e+05,2021-05-14 02:20:47.000000,4.200052,3.188442,0.003422,0.003234,105.808029,220.685238,0.007241,...,7.240795,6.558417,-0.187854,-0.682378,0.089654,0.396324,0.089654,0.396324,-0.682378,2.552004
3,7218,3.189618e+05,2021-05-14 02:50:47.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.007241,...,7.240795,6.558417,0.000000,-0.682378,3.234381,3.422235,3.324036,3.818560,-0.682378,-0.682378
4,34207,9.954903e+05,2021-05-22 17:30:55.000000,4.200052,2.999878,0.003331,0.003288,101.323550,322.008789,0.010572,...,10.571992,9.846100,-0.043514,-0.725892,-3.287683,-3.331197,0.036353,0.487362,-0.725892,2.561791
5,60493,1.508876e+06,2021-05-27 21:23:41.999999,4.200052,2.999878,0.003358,0.003392,98.988695,420.997483,0.013930,...,13.929539,13.237949,0.034302,-0.691590,-0.104166,-0.026350,-0.067813,0.461013,-0.691590,2.700259

In [5]:
c.data.steps.head(5)

,index,cycle,step,sub_step,point_avr,point_std,point_min,point_max,point_first,point_last,...,ir_std,ir_min,ir_max,ir_first,ir_last,ir_delta,rate_avr,type,sub_type,info
0,0,1,1,1,2157.5,1245.488860,1,4314,1,4314,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,rest,None,NaN
1,1,1,2,1,4315.0,NaN,4315,4315,4315,4315,...,NaN,6.650723,6.650723,6.650723,6.650723,0.0,2.10949,ir,None,NaN
2,2,1,3,1,4645.5,190.669872,4316,4975,4316,4975,...,0.0,6.650723,6.650723,6.650723,6.650723,0.0,180.83741,charge,None,NaN
3,3,1,4,1,5023.0,27.568098,4976,5070,4976,5070,...,0.0,6.650723,6.650723,6.650723,6.650723,0.0,72.46127,charge,None,NaN
4,4,1,5,1,5071.0,NaN,5071,5071,5071,5071,...,NaN,8.664473,8.664473,8.664473,8.664473,0.0,0.34966,ir,None,NaN